body {
    background-color: rgb(248, 248, 248);
}

.container {
    margin: auto;
    max-width: 750px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
    font-size: 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
  
.nav-link-item {
    padding-right: 2rem;
}
  
.nav-link-text {
    color: black;
    text-decoration: 'none';
}

.site-title {
    font-size: 20px;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.introContainer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.profilePicture {
    height: 100%;
    width: 25%;
    border-radius: 50%;
}

.introTextContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
